@{
    ViewBag.Title = "Paises";
    ViewBag.Layout = "~/_Styles/Style.css";
}

<nav aria-label="breadcrumb" style="margin-top:10px">
    <ol class="breadcrumb">
        <li class="bc1">Home</li>
        <li class="bc1">Home</li>
        <li class="bc1">Home</li>
        <li class="bc1">Home</li>
        <li class="breadcrumb-item active" aria-current="page">Home</li>
        <li class="breadcrumb-item active" aria-current="page">Home</li>
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>

